$color-fondo: rgb(148, 140, 140);
$tipografia-principal: "Tahoma";
$titulo: rgb(6, 6, 146);
$color-tarjeta: rgb(255, 255, 255);
$tamaño-fuente-titulo: 50px;
$fuente-tarjeta: 15px;
$margen-boton: 5px;
// $borde: 5px solid black;


body {
        background-color: $color-fondo;
        
    }
    
#titulo {
        color: $titulo;
        font-family: $tipografia-principal;
    
    }

.contenedor {
    display: flex;
    flex-wrap: wrap;
}    
    
.tarjeta {
        // background-color: $color-tarjeta;
        width: auto;
        margin-bottom: 1,5rem;
        border-radius: 15px;
        color: white;
        font-size: $fuente-tarjeta;
        text-align: center;
        

    }

.tarjeta-nombre {
    margin-bottom: $margen-boton;
}

.img-principal {
    width: 40%;
    margin-bottom:20px;
}

.contenedor-imagen-detalle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-detalles {
    width: 70%;
    margin-top: 15px;
    margin-bottom: 25px;
}

.contenedor-detalles {
    display: none;
    flex-direction: column;
    align-items: center;
}


.tarjeta-detalles {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    background-color: whitesmoke;
    border-radius: 5px;
    font-size: 1,5rem;

}


.titulo-detalles-nombre .tarjeta-nombre {
    font-size: 2.5em;
}
.titulo-detalles-nombre{
    padding: 0px 35px 0px 35px;
}
h2{
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 200;
}
.boton-atras{
    background-color: white;
    margin-bottom: 15px;
    border-radius: 25px;
    padding: 15px 35px;
    font-size:1.5rem;
}